<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proyect.petshop">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <!-- MainActivity is now using Jetpack Compose -->
        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PetShop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.zxing.client.android.SCAN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- QRScanActivity -->
        <activity
            android:name=".QR.QRDisplayActivity"
            android:theme="@style/AppTheme" />

        <!-- Activities for dogs -->
        <activity android:name=".activityDogs.CaninoActivity" />
        <activity android:name=".activityDogs.AlimentosActivity_dogs" />
        <activity android:name=".activityDogs.ZonaJuegosActivity_dogs" />
        <activity android:name=".activityDogs.VestimentaActivity_dogs" />

        <!-- Activities for cats -->
        <activity android:name=".ActivityCats.FelinoActivity" />
        <activity android:name=".ActivityCats.AlimentosActivity_cats" />
        <activity android:name=".ActivityCats.ZonaJuegosActivity_cats" />
        <activity android:name=".ActivityCats.VestimentaActivity_cats" />

        <!-- Activities for birds -->
        <activity android:name=".ActivityBirds.BirdActivity" />
        <activity android:name=".ActivityBirds.AlimentosActivity_birds" />
        <activity android:name=".ActivityBirds.ZonaJuegosActivity_birds" />
        <activity android:name=".ActivityBirds.VestimentaActivity_birds" />

        <!-- Other activities -->
        <activity android:name=".models.InstruccionesActivity" />
        <activity android:name=".adapters.CarritoActivity" />
        <activity android:name=".models.PDFActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
